{% extends 'web/base.html' %}

{% block content %}

	<main>
        <!--? Pricing Card Start -->
         <section class="pricing-card-area section-padding2">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-10">
                    <div class="section-tittle text-center mb-100">
                        <p>Our pricing plan for you</p>
                        <h2>No hidden charges! choose  your plan wisely.</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top primary">

                            <h3>Silver Link Package</h3>
                            <h4>15mbps</h4>
                            
                        </div>
                        <div class="card-mid">
                            <h4>28,500 KS <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul class="list-group">
                                <li>👉5 to 6 devices can be used</li>
                                <li>👉Unlimited Data usage</li>
                                <li>👉live streaming</li>
                                <li>👉download music, videos, photos</li>
                                <li>👉Enjoy family on weekends</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <h3>Gold🥇Link Package 1</h3>
                            <h4>25mbps</h4>
                        </div>
                        <div class="card-mid">
                            <h4>36000 KS <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>👉 8 to 11 devices can be used</li>
                                <li>👉 Unlimited Data usage</li>
                                <li>👉 live streaming</li>
                                <li>👉 download music, videos, photos</li>
                                <li>👉 Enjoy family on weekends</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <h3>Gold🥇Link Package 2</h3>
                            <h4>35mbps</h4>
                        </div>
                        <div class="card-mid">
                            <h4>52000ks<span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>👉8 to 11 devices can be used</li>
                                <li>👉Unlimited Data usage</li>
                                <li>👉live streaming</li>
                                <li>👉download music, videos, photos</li>
                                <li>👉 Enjoy family on weekends</li>
                            </ul>
                           
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <h3>Platinum link Package 1</h3>
                            <h4>55mbps</h4>
                        </div>
                        <div class="card-mid">
                            <h4>72000ks <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>👉18 to 25 devices can be used</li>
                                <li>👉Unlimited Data usage</li>
                                <li>👉live streaming</li>
                                <li>👉download music, videos, photos</li>
                                <li>👉 Enjoy family on weekends</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <h3>Platinum link Package 2</h3>
                            <h4>75mbps</h4>
                        </div>
                        <div class="card-mid">
                            <h4>92000ks <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>👉18 to 25 devices can be used</li>
                                <li>👉Unlimited Data usage</li>
                                <li>👉live streaming</li>
                                <li>👉download music, videos, photos</li>
                                <li>👉 Enjoy family on weekends</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <h3>Diamond link Package </h3>
                            <h4>95mbps</h4>
                        </div>
                        <div class="card-mid">
                            <h4>122000ks <span>/ month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li>👉18 to 25 devices can be used</li>
                                <li>👉Unlimited Data usage</li>
                                <li>👉live streaming</li>
                                <li>👉download music, videos, photos</li>
                                <li>👉 Enjoy family on weekends</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Pricing Card End -->
        <!-- Latest Offers Start -->
        <div class="latest-wrapper pb-bottom">
            <div class="container">
                <div class="latest-area latest-height  section-bg2" data-background="static/img/gallery/section.png">
                    <div class="row  align-items-center justify-content-between">
                        <div class="col-xl-5 col-lg-7">
                            <div class="latest-caption">
                                <h2>Check our unbelievable super  fast Broadband availability in your area.</h2>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-10 ">
                            <div class="latest-subscribe">
                                <form action="#">
                                    <input type="email" placeholder="Enter Zipcode">
                                    <button>Check Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Latest Offers End -->
    </main>

{% endblock %}